@import "fonts";
@import "null";
@import "mixins";

$minWidth: 320;
$maxWidthContainer: 1840;
$maxWidth: 1920;

body {
  background-color: #f5f6f7;
  &.loсk {
    overflow: hidden;
  }
}
.container {
  max-width: 1920px;
  padding: 0 40px;
  margin: 0 auto;
}

@import "./sections/header";
@import "./sections/footer";
