@import "fonts";
@import "null";
@import "mixins";

$minWidth: 320;
$maxWidthContainer: 1840;
$maxWidth: 1920;

body {
  background-color: #f5f6f7;
  &.loсk {
    overflow: hidden;
  }
}
.container {
  max-width: 1920px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 auto;
  @include adaptiv-value(padding-left, 40, 20, 1);
  @include adaptiv-value(padding-right, 40, 20, 1);
}
.btn {
  background-color: white;
  border-radius: 42px;
  line-height: 140%;
  @include adaptiv-value(padding-top, 22, 12, 1);
  @include adaptiv-value(padding-bottom, 22, 12, 1);
  @include adaptiv-value(padding-left, 60, 30, 1);
  @include adaptiv-value(padding-right, 60, 30, 1);
  @include adaptiv-value(font-size, 24, 12, 1);
}
.secondary-btn {
  padding: 10px 20px;
  color: #fff;
  line-height: 140%;
  border-radius: 42px;
  border: 1px solid #fff;
  background-color: transparent;
  @include adaptiv-value(font-size, 24, 12, 1);
}
.hashtag {
  color: #fff;
  line-height: 140%;
  @include adaptiv-value(font-size, 24, 12, 1);
}
.title {
  color: #fff;
  line-height: 116%;
  @include adaptiv-value(font-size, 68, 20, 1);
  span {
    background-color: white;
    color: #3048ea;
    padding: 0 15px;
  }
}
.subtitle {
  color: #fff;
  line-height: 120%;
  @include adaptiv-value(font-size, 40, 16, 1);
}
.padding-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: contain;
  background-repeat: no-repeat;
  @include adaptiv-value(padding-top, 50, 32, 1);
  @include adaptiv-value(padding-bottom, 50, 32, 1);
  @include adaptiv-value(padding-left, 50, 20, 1);
  @include adaptiv-value(padding-right, 50, 29, 1);
}
.text {
  color: #fff;
  line-height: 140%;
  @include adaptiv-value(font-size, 24, 12, 1);
}

@import "./sections/header";
@import "./sections/logo";
@import "./sections/slider";
@import "./sections/guide";
@import "./sections/intro";
@import "./sections/how";
@import "./sections/promo";
@import "./sections/subscription";
@import "./sections/articles";
@import "./sections/footer";
