@import "fonts";
@import "null";
@import "mixins";

$minWidth: 320;
$maxWidthContainer: 1840;
$maxWidth: 1920;

body {
  background-color: #f5f6f7;
}
.loсk {
  overflow: hidden;
}
.container {
  max-width: 1920px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.btn {
  background-color: white;
  border-radius: 42px;
  line-height: 140%;
  font-size: 24px;
  padding: 22px 60px;
  @media (max-width: 767px) {
    font-size: 12px;
    padding: 12px 30px;
  }
}
.secondary-btn {
  padding: 10px 20px;
  color: #fff;
  line-height: 140%;
  border-radius: 42px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 24px;
  @media (max-width: 1500px) {
    font-size: 15px;
  }
  @media (max-width: 767px) {
    font-size: 12px;
  }
}
.hashtag {
  color: #fff;
  line-height: 140%;
  font-size: 24px;
  @media (max-width: 1500px) {
    font-size: 15px;
  }
  @media (max-width: 767px) {
    font-size: 12px;
  }
}
.title {
  color: #fff;
  line-height: 116%;
  font-size: 68px;
  @media (max-width: 1500px) {
    font-size: 44px;
  }
  @media (max-width: 1199px) {
    font-size: 36px;
  }
  @media (max-width: 767px) {
    font-size: 20px;
  }
  span {
    background-color: white;
    color: #3048ea;
    padding: 0 15px;
  }
}
.subtitle {
  color: #fff;
  line-height: 120%;
  font-size: 40px;
  @media (max-width: 1500px) {
    font-size: 24px;
  }
  @media (max-width: 1199px) {
    font-size: 20px;
  }
  @media (max-width: 767px) {
    font-size: 16px;
  }
}
.padding-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 50px;
  @media (max-width: 1500px) {
    padding: 40px 28px;
  }
  @media (max-width: 767px) {
    padding: 32px 29px 32px 20px;
  }
}
.text {
  color: #fff;
  line-height: 140%;
  font-size: 24px;
  @media (max-width: 1500px) {
    font-size: 16px;
  }
  @media (max-width: 767px) {
    font-size: 12px;
  }
}

@import "./sections/header";
@import "./sections/logo";
@import "./sections/slider";
@import "./sections/guide";
@import "./sections/intro";
@import "./sections/how";
@import "./sections/promo";
@import "./sections/subscription";
@import "./sections/articles";
@import "./sections/footer";
