.articles {
  padding-top: 67px;
  padding-bottom: 65px;
  @media (max-width: 767px) {
    padding-top: 9px;
    padding-bottom: 43px;
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
    @media (max-width: 767px) {
      gap: 16px;
    }
    & > div {
      position: relative;
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
      border-radius: 40px;
      padding: 46px 50px;
      @media (max-width: 767px) {
        border-radius: 28px;
        padding: 32px 20px;
      }
      img {
        position: absolute;
      }
      &:nth-child(1) {
        & > div {
          span {
            margin-right: 20px;
          }
        }
      }
      &:nth-child(1),
      &:nth-child(2) {
        grid-column: span 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 767px) {
          grid-column: span 1;
        }
      }
      &:nth-child(2) {
        border: 1px solid #3048ea;
        h2,
        button {
          color: #3048ea;
        }
        button {
          border-color: #3048ea;
        }
        & > div {
          span {
            color: #3048ea;
            margin-right: 20px;
          }
        }
      }
      &:nth-child(n + 3) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 32px;
        @media (max-width: 767px) {
          gap: 20px;
        }
        button {
          margin-right: 20px;
          @media (max-width: 767px) {
            margin-right: 12px;
          }
        }
      }
    }
  }
  &__btn {
    color: #3048ea;
    border: 1px solid #3048ea;
    width: 100%;
    background-color: #f5f6f7;
    font-size: 24px;
    height: 98px;
    border-radius: 75px;
    margin-top: 60px;
    @media (max-width: 767px) {
      font-size: 12px;
      height: 49px;
      border-radius: 42px;
      margin-top: 40px;
    }
  }
}
.articles-1 {
  & > div {
    &:nth-child(1) {
      background-color: #ea30ab;
      img {
        right: 15%;
        display: none;
        @media (max-width: 1500px) {
          display: block;
        }
      }
    }
    &:nth-child(3) {
      background-color: #64d85c;
      background-image: url("../img/img-5.png");
      h2 {
        max-width: 612px;
      }
      @media (max-width: 1500px) {
        background-image: url("../img/img-20.png");
      }
    }
    &:nth-child(4) {
      background-color: #8230ea;
      h2 {
        max-width: 600px;
      }
    }
    &:nth-child(5) {
      background-color: #4993ff;
      h2 {
        max-width: 668px;
      }
    }
    &:nth-child(6) {
      background-color: #ffa53f;
      background-image: url("../img/img-6.png");
      @media (max-width: 1500px) {
        background-image: url("../img/img-21.png");
      }
    }
  }
}
.articles-2 {
  & > div {
    &:nth-child(1) {
      background-color: #ffa53f;
    }
    &:nth-child(2) {
      img {
        bottom: -100px;
        right: 20%;
        @media (max-width: 1500px) {
          right: 13%;
          width: 280px;
          bottom: -70px;
        }
      }
    }
    &:nth-child(3) {
      background-color: #ea30ab;
      h2 {
        max-width: 600px;
      }
    }
    &:nth-child(4) {
      background-color: #4993ff;
    }
    &:nth-child(5) {
      background-color: #14151f;
      background-image: url("../img/img-9.png");
      h2 {
        max-width: 548px;
      }
      @media (max-width: 1500px) {
        background-image: url("../img/img-22.png");
        background-size: auto;
        background-position: bottom right;
      }
    }
    &:nth-child(6) {
      background-color: #3048ea;
      h2 {
        max-width: 718px;
      }
    }
  }
}
