.articles {
  @include adaptiv-value(padding-top, 67, 9, 1);
  @include adaptiv-value(padding-bottom, 65, 43, 1);
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include adaptiv-value(gap, 20, 16, 1);
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
    & > div {
      position: relative;
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
      @include adaptiv-value(border-radius, 40, 28, 1);
      @include adaptiv-value(padding-top, 46, 32, 1);
      @include adaptiv-value(padding-bottom, 46, 32, 1);
      @include adaptiv-value(padding-left, 50, 20, 1);
      @include adaptiv-value(padding-right, 50, 20, 1);
      img {
        position: absolute;
      }
      &:nth-child(1) {
        & > div {
          span {
            margin-right: 20px;
          }
        }
      }
      &:nth-child(1),
      &:nth-child(2) {
        grid-column: span 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 767px) {
          grid-column: span 1;
        }
      }
      &:nth-child(2) {
        border: 1px solid #3048ea;
        h2,
        button {
          color: #3048ea;
        }
        button {
          border-color: #3048ea;
        }
        & > div {
          span {
            color: #3048ea;
            margin-right: 20px;
          }
        }
      }
      &:nth-child(n + 3) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        @include adaptiv-value(min-height, 330, 174, 1);
        @include adaptiv-value(gap, 32, 20, 1);
        button {
          @include adaptiv-value(margin-right, 20, 12, 1);
        }
      }
    }
  }
  &__btn {
    color: #3048ea;
    border: 1px solid #3048ea;
    width: 100%;
    background-color: #f5f6f7;
    @include adaptiv-value(font-size, 24, 12, 1);
    @include adaptiv-value(height, 98, 49, 1);
    @include adaptiv-value(border-radius, 75, 42, 1);
    @include adaptiv-value(margin-top, 60, 40, 1);
  }
}
.articles-1 {
  & > div {
    &:nth-child(1) {
      background-color: #ea30ab;
      img {
        right: 15%;
        display: none;
        @media (max-width: 1500px) {
          display: block;
        }
      }
    }
    &:nth-child(3) {
      background-color: #64d85c;
      background-image: url("../img/img-5.png");
      h2 {
        max-width: 612px;
      }
    }
    &:nth-child(4) {
      background-color: #8230ea;
      h2 {
        max-width: 600px;
      }
    }
    &:nth-child(5) {
      background-color: #4993ff;
      h2 {
        max-width: 668px;
      }
    }
    &:nth-child(6) {
      background-color: #ffa53f;
      background-image: url("../img/img-6.png");
    }
  }
}
.articles-2 {
  & > div {
    &:nth-child(1) {
      background-color: #ffa53f;
    }
    &:nth-child(2) {
      img {
        bottom: -100px;
        right: 20%;
      }
    }
    &:nth-child(3) {
      background-color: #ea30ab;
      h2 {
        max-width: 600px;
      }
    }
    &:nth-child(4) {
      background-color: #4993ff;
    }
    &:nth-child(5) {
      background-color: #14151f;
      background-image: url("../img/img-9.png");
      h2 {
        max-width: 548px;
      }
    }
    &:nth-child(6) {
      background-color: #3048ea;
      h2 {
        max-width: 718px;
      }
    }
  }
}
