.footer {
  background-color: white;
  &__block {
    border-bottom: 1px solid rgba(20, 21, 31, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 45px;
    @media (max-width: 1500px) {
      padding-bottom: 28px;
    }
    @media (max-width: 1199px) {
      padding-top: 60px;
      padding-bottom: 29px;
    }
    @media (max-width: 767px) {
      padding-top: 60px;
      padding-bottom: 25px;
      flex-direction: column;
      gap: 24px;
    }
  }
  &__list {
    display: flex;
    gap: 68px;
    @media (max-width: 1500px) {
      gap: 43px;
    }
    @media (max-width: 1199px) {
      gap: 32px;
    }
    @media (max-width: 767px) {
      gap: 36px;
      width: 100%;
      justify-content: space-between;
    }
    li {
      a {
        color: #14151f;
        line-height: 120%;
        font-size: 24px;
        font-weight: 300;
        @media (max-width: 1500px) {
          font-size: 14px;
        }
        @media (max-width: 767px) {
          font-size: 12px;
        }
      }
    }
  }
  &__flex {
    display: flex;
    align-items: center;
    gap: 92px;
    @media (max-width: 1500px) {
      gap: 56px;
    }
    @media (max-width: 1199px) {
      gap: 27px;
    }
    @media (max-width: 767px) {
      gap: 8px;
      width: 100%;
      justify-content: space-between;
    }
    a {
      color: #14151f;
      line-height: 120%;
      font-size: 24px;
      font-weight: 300;
      @media (max-width: 1500px) {
        font-size: 14px;
      }
      @media (max-width: 767px) {
        font-size: 12px;
      }
    }
  }
  &__copyright {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    padding-top: 46px;
    padding-bottom: 46px;
    font-weight: 300;
    @media (max-width: 1500px) {
      font-size: 14px;
      padding-top: 28px;
      padding-bottom: 28px;
    }
    @media (max-width: 1199px) {
      padding-top: 34px;
      padding-bottom: 20px;
      font-size: 12px;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      gap: 12px;
      font-size: 10px;
      padding-top: 26px;
      padding-bottom: 20px;
    }
    span,
    a {
      color: rgba(20, 21, 31, 0.4);
      line-height: 120%;
    }
  }
}
