.guide {
  background-image: url("../img/bg-4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-top: 126px;
  @media (max-width: 767px) {
    padding-top: 74px;
  }
  &__wrapper {
    background-color: #8230ea;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      color: white;
      line-height: 120%;
      font-size: 36px;
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
  }
  &__flex {
    display: flex;
    align-items: center;
    gap: 23px;
    img {
      width: 338px;
      @media (max-width: 767px) {
        width: 200px;
      }
    }
    button {
      color: #8230ea;
    }
  }
}
