.header {
  @include adaptiv-value(padding-top, 20, 10, 1);
  @include adaptiv-value(padding-bottom, 40, 30, 1);
  &__block {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptiv-value(border-radius, 100, 69, 1);
    @include adaptiv-value(padding-top, 30, 10, 1);
    @include adaptiv-value(padding-bottom, 30, 10, 1);
    @include adaptiv-value(padding-left, 50, 20, 1);
    @include adaptiv-value(padding-right, 50, 20, 1);
  }
  &__nav {
    display: flex;
    @include adaptiv-value(gap, 64, 44, 1);
    li {
      a {
        color: #14151f;
        @include adaptiv-value(font-size, 20, 14, 1);
      }
    }
  }
}
