.how {
  padding-top: 113px;
  padding-bottom: 62px;
  @media (max-width: 320px) {
    padding-top: 41px;
    padding-bottom: 48px;
  }
  &__container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    @media (max-width: 1199px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
    @media (max-width: 320px) {
      gap: 12px;
    }
  }
  &__block-1 {
    background-color: #ea30ab;
  }
  &__block-2 {
    background-color: #f88470;
    z-index: 1;
    img {
      position: absolute;
      right: -80%;
      display: none;
      @media (max-width: 1500px) {
        display: block;
      }
      @media (max-width: 1199px) {
        display: none;
      }
    }
  }
  &__block-3 {
    background-color: #8230ea;
    z-index: 3;
    @media (max-width: 1199px) {
      grid-column: span 2;
    }
    @media (max-width: 767px) {
      grid-column: span 1;
    }
  }
  &__block-1,
  &__block-2,
  &__block-3 {
    gap: 20px;
    position: relative;
    min-height: 374px;
    border-radius: 40px;
    @media (max-width: 320px) {
      min-height: 216px;
      border-radius: 28px;
    }
    & > div {
      @media (max-width: 1500px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        @media (max-width: 320px) {
          gap: 12px;
        }
      }
      button {
        margin-right: 20px;
      }
    }
  }
}
