.intro {
  @include adaptiv-value(padding-bottom, 90, 40, 1);
  &__container {
    display: grid;
    grid-template-columns: calc(1065 / 1840 * 100%) calc(755 / 1840 * 100%);
    @include adaptiv-value(gap, 20, 12, 0);
    @media (max-width: 1199px) {
      grid-template-columns: 1fr;
    }
  }
  &__block-1 {
    background-color: #3048ea;
    background-image: url("../img/img-1.png");
    background-position: bottom left;
    @include adaptiv-value(height, 888, 356, 0);
    h2 {
      max-width: calc(884 / 1065 * 100%);
      @include adaptiv-value(margin-bottom, 26, 8, 1);
    }
    p {
      max-width: calc(750 / 1065 * 100%);
    }
  }
  &__block-2 {
    background-color: #ea30ab;
    background-image: url("../img/img-2.png");
    background-position: right bottom;
    h2 {
      max-width: calc(521 / 755 * 100%);
    }
  }
  &__block-3 {
    background-color: #8230e9;
    background-image: url("../img/img-3.png");
    background-position: right;
  }
  &__block-4 {
    display: flex;
    flex-direction: column;
    @include adaptiv-value(gap, 20, 12, 0);
    @media (max-width: 1199px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
  &__block-2,
  &__block-3 {
    flex: 1 1 auto;
  }
  &__block-1,
  &__block-2,
  &__block-3 {
    @include adaptiv-value(border-radius, 60, 28, 1);
    button {
      @include adaptiv-value(margin-right, 20, 12, 1);
    }
  }
}
