.logo {
  display: flex;
  align-items: center;
  line-height: 120%;
  gap: 15px;
  @media (max-width: 320px) {
    gap: 11px;
  }
  img {
    width: 136px;
    @media (max-width: 320px) {
      width: 62px;
    }
  }
  span {
    color: #14151f;
    font-size: 16px;
    @media (max-width: 320px) {
      font-size: 10px;
    }
  }
}
