.privacy-policy {
  padding-bottom: 120px;
  @media (max-width: 1500px) {
    padding-bottom: 100px;
  }
  @media (max-width: 767px) {
    padding-bottom: 80px;
  }
  &__wrapper {
    padding: 0 150px;
    @media (max-width: 1500px) {
      padding: 0 95px;
    }
    @media (max-width: 1199px) {
      padding: 0;
    }
  }
  h1 {
    color: #14151f;
    margin-bottom: 40px;
  }
  p,
  li {
    color: #43444c;
    line-height: 140%;
    font-size: 24px;
    font-weight: 300;
    a {
      color: #3048ea;
      text-decoration: underline;
    }
    @media (max-width: 1500px) {
      font-size: 16px;
    }
    @media (max-width: 767px) {
      font-size: 12px;
    }
  }
  ul {
    padding-left: 20px;
    li {
      list-style-type: disc;
    }
  }
}
