.promo {
  background-image: url("../img/bg-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-top: 258px;
  padding-bottom: 256px;
  @media (max-width: 767px) {
    padding-top: 99px;
    padding-bottom: 137px;
  }
  &__container {
    background-color: #14151f;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/img-4.png");
    background-position: right;
    border-radius: 40px;
    padding: 130px 50px;
    @media (max-width: 1500px) {
    }
    @media (max-width: 767px) {
      border-radius: 28px;
      padding: 66px 20px;
    }
  }
  h2 {
    max-width: 872px;
    margin-bottom: 20px;
    @media (max-width: 767px) {
      margin-bottom: 16px;
    }
  }
  p {
    max-width: 696px;
    margin-bottom: 60px;
    @media (max-width: 767px) {
      margin-bottom: 48px;
    }
  }
}
