.promo {
  background-image: url("../img/bg-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  @include adaptiv-value(padding-top, 258, 99, 1);
  @include adaptiv-value(padding-bottom, 256, 137, 1);
  &__container {
    background-color: #14151f;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/img-4.png");
    background-position: right;
    @include adaptiv-value(border-radius, 40, 28, 1);
    @include adaptiv-value(padding-top, 130, 66, 1);
    @include adaptiv-value(padding-bottom, 130, 66, 1);
    @include adaptiv-value(padding-left, 50, 20, 1);
    @include adaptiv-value(padding-right, 50, 20, 1);
    @media (max-width: 1500px) {
      @include adaptiv-value(padding-top, 70, 66, 1);
      @include adaptiv-value(padding-bottom, 70, 66, 1);
    }
  }
  h2 {
    max-width: calc(872 / 1838 * 100%);
    @include adaptiv-value(margin-bottom, 20, 16, 1);
  }
  p {
    max-width: calc(696 / 1838 * 100%);
    @include adaptiv-value(margin-bottom, 60, 48, 1);
  }
}
