.slider {
  background-image: url("../img/bg-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 214px;
  padding-bottom: 199px;
  @media (max-width: 1500px) {
    padding-top: 149px;
    padding-bottom: 185px;
  }
  @media (max-width: 1300px) {
    background-image: url("../img/bg-5.png");
  }
  @media (max-width: 1199px) {
    padding-top: 163px;
    padding-bottom: 134px;
  }
  @media (max-width: 767px) {
    padding-top: 98px;
    padding-bottom: 101px;
  }
  @media (max-width: 380px) {
    background-image: url("../img/bg-7.png");
  }
  &__buttons {
    display: flex;
    gap: 40px;
    @media (max-width: 1500px) {
      gap: 20px;
    }
    @media (max-width: 767px) {
      gap: 10px;
    }
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      color: #14151f;
      margin-bottom: 24px;
      @media (max-width: 1500px) {
        margin-bottom: 12px;
      }
    }
    p {
      color: #43444c;
    }
    button {
      background-color: #f5f6f7;
      width: 80px;
      height: 80px;
      svg {
        width: 18px;
        height: 24px;
      }
      @media (max-width: 1500px) {
        width: 40px;
        height: 40px;
        svg {
          transform: scale(0.5);
        }
      }
      @media (max-width: 767px) {
        width: 33px;
        height: 33px;
      }
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__swiper {
    overflow: hidden;
    margin-top: 60px;
    @media (max-width: 1500px) {
      margin-top: 40px;
    }
    @media (max-width: 1199px) {
      margin-right: -20px;
    }
    @media (max-width: 767px) {
      margin-top: 45px;
    }
  }
  &__slide {
    h3 {
      color: #14151f;
      line-height: 120%;
      font-size: 32px;
      @media (max-width: 1500px) {
        font-size: 24px;
      }
      @media (max-width: 1199px) {
        font-size: 20px;
      }
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
    p {
      font-size: 22px;
      margin-top: 8px;
      font-weight: 300;
      line-height: 140%;
      @media (max-width: 1500px) {
        font-size: 16px;
      }
      @media (max-width: 1199px) {
        font-size: 14px;
      }
      @media (max-width: 767px) {
        font-size: 12px;
        margin-top: 6px;
      }
    }
    &-img {
      overflow: hidden;
      background-color: #f5f6f7;
      border-radius: 40px;
      margin-bottom: 40px;
      @media (max-width: 767px) {
        border-radius: 28px;
        margin-bottom: 18px;
      }
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
