.subscription {
  background-image: url("../img/bg-3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  overflow: hidden;
  padding-top: 262px;
  padding-bottom: 252px;
  @media (max-width: 320px) {
    padding-top: 103px;
    padding-bottom: 102px;
  }
  &__container {
    background-color: #3048ea;
    display: flex;
    align-items: flex-start;
    position: relative;
    gap: calc(81 / 1738 * 100%);
    border-radius: 40px;
    padding: 154px 50px 169px 50px;
    @media (max-width: 320px) {
      border-radius: 28px;
      padding: 66px 20px 70px 20px;
    }
    img {
      position: absolute;
      right: -3%;
      top: -10%;
      width: 793px;
      @media (max-width: 1199px) {
        top: auto;
        bottom: -10%;
        right: 5%;
      }
      @media (max-width: 320px) {
        width: 101px;
      }
    }
    @media (max-width: 1199px) {
      flex-direction: column;
    }
  }
  &__block-1 {
    width: calc(1107 / 1738 * 100%);
    h2 {
      margin-bottom: 20px;
      @media (max-width: 320px) {
        margin-bottom: 16px;
      }
    }
    p {
      color: white;
      max-width: 603px;
      font-size: 24px;
      @media (max-width: 320px) {
        font-size: 12px;
      }
    }
    @media (max-width: 1199px) {
      width: calc(568 / 727 * 100%);
    }
  }
  &__block-2 {
    width: calc(550 / 1738 * 100%);
    position: relative;
    @media (max-width: 1199px) {
      width: calc(356 / 727 * 100%);
    }
    form {
      position: relative;
      z-index: 1;
      background-color: white;
      border-radius: 40px;
      padding: 64px;
      @media (max-width: 320px) {
        border-radius: 24px;
        padding: 36px 20px;
      }
    }
  }
  &__input {
    height: 37px;
    padding-bottom: 8px;
    width: 100%;
    border-bottom: 1px solid #14151f;
    position: relative;
    margin-bottom: 20px;
    @media (max-width: 320px) {
      margin-bottom: 12px;
    }
    label {
      position: absolute;
      left: 0;
    }
    input {
      padding-left: 60px;
    }
    label,
    input {
      color: #14151f;
      line-height: 140%;
      font-size: 20px;
      @media (max-width: 320px) {
        font-size: 12px;
      }
    }
  }
  &__checkbox {
    display: flex;
    align-items: center;
    color: #14151f;
    font-size: 14px;
    @media (max-width: 320px) {
      font-size: 8px;
    }
    a {
      color: #14151f;
      text-decoration-line: underline;
      margin-left: 5px;
    }
    input {
      margin-right: 10px;
    }
  }
  &__btn {
    width: 100%;
    background-color: #3048ea;
    text-align: center;
    border-radius: 42px;
    color: #fff;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-top: 40px;
    @media (max-width: 320px) {
      font-size: 12px;
      padding-top: 14px;
      padding-bottom: 14px;
      margin-top: 24px;
    }
  }
}
