.subscription {
  background-image: url("../img/bg-3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  padding-top: 262px;
  padding-bottom: 252px;
  @media (max-width: 1500px) {
    padding-top: 164px;
    padding-bottom: 165px;
    background-image: url("../img/bg-10.png");
  }
  @media (max-width: 1199px) {
    padding-top: 131px;
    padding-bottom: 160px;
  }
  @media (max-width: 767px) {
    padding-top: 131px;
    padding-bottom: 160px;
  }
  &__container {
    background-color: #3048ea;
    display: grid;
    align-items: flex-start;
    position: relative;
    gap: 81px;
    grid-template-columns: 1fr 550px;
    border-radius: 40px;
    padding: 154px 50px 169px 50px;
    @media (max-width: 1500px) {
      padding: 70px 28px 81px 28px;
      gap: 40px;
      grid-template-columns: 1fr 356px;
    }
    @media (max-width: 1199px) {
      grid-template-columns: 1fr;
      padding: 70px 30px 70px 30px;
    }
    @media (max-width: 767px) {
      border-radius: 28px;
      padding: 70px 30px 70px 30px;
      gap: 32px;
    }
    img {
      position: absolute;
      right: -3%;
      top: -10%;
      width: 793px;
      @media (max-width: 1500px) {
        width: 457px;
        top: -60px;
        right: -10px;
      }
      @media (max-width: 1199px) {
        top: auto;
        bottom: -14%;
        right: -3%;
        width: 395px;
        transform: rotate(10deg);
      }
      @media (max-width: 767px) {
        width: 191px;
        top: 110px;
        z-index: 1;
        right: -80px;
      }
    }
    @media (max-width: 1199px) {
      flex-direction: column;
    }
  }
  &__block-1 {
    h2 {
      margin-bottom: 20px;
      @media (max-width: 1500px) {
        max-width: 721px;
      }
      @media (max-width: 767px) {
        margin-bottom: 16px;
      }
    }
    p {
      color: white;
      max-width: 603px;
    }
  }
  &__block-2 {
    position: relative;
    form {
      position: relative;
      z-index: 1;
      background-color: white;
      border-radius: 40px;
      padding: 64px;
      @media (max-width: 1500px) {
        padding: 30px 28px;
      }
      @media (max-width: 1199px) {
        max-width: 356px;
      }
      @media (max-width: 767px) {
        border-radius: 24px;
        padding: 36px 20px;
      }
    }
  }
  &__input {
    height: 37px;
    padding-bottom: 8px;
    width: 100%;
    border-bottom: 1px solid #14151f;
    position: relative;
    margin-bottom: 20px;
    @media (max-width: 767px) {
      margin-bottom: 12px;
    }
    label {
      position: absolute;
      left: 0;
    }
    input,
    input::placeholder {
      color: #14151f;
      line-height: 140%;
      font-size: 20px;
      @media (max-width: 1500px) {
        font-size: 16px;
      }
      @media (max-width: 767px) {
        font-size: 12px;
      }
    }
  }
  &__checkbox {
    display: flex;
    align-items: center;
    color: #14151f;
    font-size: 14px;
    @media (max-width: 1500px) {
      font-size: 10px;
    }
    @media (max-width: 767px) {
      font-size: 8px;
    }
    a {
      color: #14151f;
      text-decoration-line: underline;
      margin-left: 5px;
    }
    input {
      margin-right: 10px;
    }
  }
  &__btn {
    width: 100%;
    background-color: #3048ea;
    text-align: center;
    border-radius: 42px;
    color: #fff;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-top: 40px;
    @media (max-width: 1500px) {
      margin-top: 22px;
      padding: 16px 32px;
      font-size: 16px;
    }
    @media (max-width: 767px) {
      font-size: 12px;
      padding-top: 14px;
      padding-bottom: 14px;
      margin-top: 24px;
    }
  }
}
